In [18]:
d1={'姓名':'賴宏偉','性別':'男','作業分數':[95,100,90]}
d2={'學號':'M1129020'}

d3={**d1,**d2}

import copy
d4=copy.deepcopy(d3)

d3['作業分數'][1]=80
d4['姓名']='許珈綺'
d4['性別']='女'
d4['學號']='M1229001'

score3=d3.pop('作業分數')
print((score3[0]+score3[1]+score3[2])/3)
print(d3)

score4=d4.pop('作業分數')
print((score4[0]+score4[1]+score4[2])/3)
print(d4)
g

{'姓名': '賴宏偉', '性別': '男', '作業分數': [95, 80, 90], '學號': 'M1129020'}
{'姓名': '許珈綺', '性別': '女', '作業分數': [95, 100, 90], '學號': 'M1229001'}
88.33333333333333
{'姓名': '賴宏偉', '性別': '男', '學號': 'M1129020'}
95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [24]:
a=[100,50,45,60,90,95,80,50]
a.insert(0,88)
a[2:5]=[70,50]

a.remove(50)
b=a.pop(0)
c=a.pop(-1)
d=b+c

print(d)

138

In [27]:
A=347//3
B=347%3

C=A**B
print(C)

13225